<h1>Hello {{ name }},</h1>
<p> Please click below to confirm your email</p>
<p>
    <button>
      <a href="{{ url }}" target="_blank">Confirm</a>
    </button>
</p>

<p>If you did not request this email you can safely ignore it.</p>

<small><i>PolyCode 2022 - Arsène Fougerouse</i></small>